<ion-header>
  <ion-toolbar>
    <ion-title>
      Schnitzeljagd
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <ion-button color="dark" (click)="startNewSchnitzelJagd()">Start New</ion-button>

    <ion-card class="history-card">
      <ion-card-header>
        <ion-card-title>History</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col><strong>Name</strong></ion-col>
            <ion-col><strong>Date</strong></ion-col>
            <ion-col><strong>🍗</strong></ion-col>
            <ion-col><strong>🥔</strong></ion-col>
          </ion-row>

          @for (row of rows; track row.name) {
            <ion-row class="divider-row">
              <ion-col>{{row.name}}</ion-col>
              <ion-col>{{row.date}}</ion-col>
              <ion-col>{{row.emoji1}}</ion-col>
              <ion-col>{{row.emoji2}}</ion-col>
            </ion-row>
          }
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
