.container {
  text-align: center;
}

.history-card {
  margin-top: 20px;
}

.divider-row {
  border-bottom: 1px solid white;
}

ion-card-title {
  font-weight: bold;
}

ion-row {
  align-items: center;
  text-align: center;
}
